.score {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.scoreContent {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 425px) {
  .score {
    flex-direction: column;
    gap: 10px;
  }
}