.button{
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #EABE6C;
  color: #000;
  font-weight: bold;
}

.button:disabled {
  cursor: default;
  background-color: #31363F;
  color: #222831;
}