.gameOption {
    border: 2px solid #FFF;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.winner {
    border: 2px solid #EABE6C;
}

.draw {
    border: 2px solid #31363F;
}